/* #fixture-bg {
    background-image: url("/public/pictures/stad.jpg");
    height: 140vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
} */

#fix-heading{
    font-weight: 350;
}

/*  */