



#card-one{
    background: #abbaab;
        
        background: -webkit-linear-gradient(to right, #ffffff, #abbaab);
       
        background: linear-gradient(to right, #ffffff, #abbaab);
       
    height: 300px;
    box-shadow: 3px 3px 3px 2px rgba(0, 0, 0, 0.2);
     border-radius: 10px;
     display: flex;
     justify-content: center;
     align-items: center;
}



#eventsTitle{
    font-weight: 400;
}



#cardText{
    font-weight: 500;
}

#imageTwo{
    height: 87vh;
    object-fit: cover;
    border-radius: 10px;
    margin: 10px 5px;
}


.mainContainer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
   
    
}

.eachCard{
    padding: 10px 20px;
    margin: 15px 5px;
    border-radius: 5px;
    box-shadow: 3px 3px 3px 2px rgba(0, 0, 0, 0.2);
    background-color: rgb(188, 206, 220);

}

.eachCard:hover{
    background-color: rgb(13, 202, 240);
    cursor: pointer;
}

@media (max-width: 640px) {
    #imageTwo {
            height: 40vh;
            object-fit: cover;
            border-radius: 10px;
            margin: 10px 5px;
        }
}
