



#card-one{
    background: #abbaab;
        
        background: -webkit-linear-gradient(to right, #ffffff, #abbaab);
       
        background: linear-gradient(to right, #ffffff, #abbaab);
       
    height: 300px;
    box-shadow: 3px 3px 3px 2px rgba(0, 0, 0, 0.2);
     border-radius: 10px;
     display: flex;
     justify-content: center;
     align-items: center;
}



#eventsTitle{
    font-weight: 400;
}



#cardText{
    font-weight: 500;
}

#imageTwo{
    height: 87vh;
    object-fit: cover;
    border-radius: 10px;
    margin: 10px 5px;
}


.mainContainer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
   
    
}

body{
    margin: 0;
}

.teamA, .teamB{
    width: 230px;
}


.teamsTable{
    background-color: white;
    border: 2px solid black;
}

.big-image{
height: 200vh;
width: 100vw;
position: relative;
background-size: cover;
background-position: 50% 50%;
background-image: url("../../../public/pictures/fix.jpg");
}

.overlay{
    position: absolute;
    height: 100%;
    width: 100%;
    background: rgba(3, 138, 255, 0.2);
}

#overlayTitle {

    background-color: white;
    color: black;
    font-weight: 500;
    padding: 10px 20px;
    border-radius: 10px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    
}

#noRegister{
    border: 1px solid black;
    background-color: white;
    color: black;
    font-weight: 500;
    padding: 20px 30px;
    border-radius: 20px;
    
}

.eachCard{
    padding: 10px 20px;
    margin: 15px 5px;
    border-radius: 5px;
    box-shadow: 3px 3px 3px 2px rgba(0, 0, 0, 0.2);
    background-color: rgb(251, 253, 255);

}

.eachCard:hover{
    background-color: rgb(220, 224, 224);
    cursor: pointer;
}

@media (max-width: 640px) {
    #imageTwo {
            height: 40vh;
            object-fit: cover;
            border-radius: 10px;
            margin: 10px 5px;
        }

        .big-image{
            height: 3000vh;
        }
}
